* {
  /* background-color: #121212; */
  /* overflow: auto; */
}

.homeContainer {
  background-color: #121212;
}

.header {
  display: flex;
  gap: 60vw;
  /* width: 100vw;
  height: 10vh;
  background-color: red; */
}

.headerBtns {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.signin {
  /* border: 1px solid #7ea6ff; */
  /* width: 80px; */
}

.signin button {
  width: 90px;
  height: 40px;
  border: 1px solid #7ea6ff;
  border-radius: 5px;
  color: #7ea6ff;
  background-color: #121212;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", serif;
}

.signin button:hover {
  background-color: #1a5fff;
}

.create button {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #1a5fff;
  border: none;
  font-family: "Open Sans", serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.heading {
  background: linear-gradient(#4b83ff, #b794f4);
  color: transparent;
  background-clip: text;
  margin-top: 100px;
  text-align: center;
  height: 173px;
  width: 800px;
  font-size: 72px;
  font-weight: 700;
  font-family: "Outfit", serif;
}

.para {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  width: 700px;
  line-height: 30px;
  font-family: "Open Sans", serif;
}

.createFree button {
  width: 280px;
  height: 60px;
  color: white;
  background-color: #1a5fff;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", serif;
}

.formImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.slide2Container {
  margin-top: 200px;
}

.platform {
  margin-top: 250px;
}
