* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.registerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: #121212;
}

/* .backBtn {
  margin-left: -70vw;
} */

.backBtn button {
  position: absolute;
  left: 150px;
  top: 100px;
  width: 30px;
  height: 30px;
  background-color: #121212;
  color: white;
  border: none;
  font-size: 20px;
}

.registerForms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* height: 100vh; */
}

label {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: Poppins;
}

input {
  margin-top: 5px;
  width: 300px;
  height: 40px;
  border: 1px solid white;
  border-radius: 12px;
  background-color: #121212;
  padding: 10px;
  font-family: Poppins;
  color: white;
  outline: none;
}

.error input {
  border: 1px solid red;
}

.error label {
  color: red;
}

.error p {
  height: 30px;
  color: red;
}

.signupBtn {
  width: 300px;
  height: 40px;
  border-radius: 12px;
  margin-top: 20px;
  background-color: #1a5fff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
}

button {
  cursor: pointer;
}

.or {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.signupGoogle {
  width: 300px;
  height: 40px;
  border-radius: 12px;
  margin-top: 20px;
  background-color: #1a5fff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  font-family: Inter;
}

.signupGoogle img {
  margin-left: 10px;
}

.already {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  font-family: Inter;
}

.already a {
  color: #1a5fff;
  cursor: pointer;
  text-decoration: none;
}

.semicircle {
  position: absolute;
  transform: translate(-50%, -25%);
  height: 200px;
  width: 230px;
  border-radius: 150px 150px 0 0;
  background-color: #ff9595;
  transform: rotate(270deg);
  left: 92%;
  top: 20%;
}

.semicircle2 {
  position: absolute;
  transform: translate(-50%, -25%);
  height: 120px;
  width: 240px;
  border-radius: 150px 150px 0 0;
  background-color: #ffbf7d;
  left: 65%;
  top: 89%;
}

.tri1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid #e67200;
  margin: 2rem;
  border-radius: 8px;
  transform: rotate(-21.5deg);
  left: 10%;
  top: 20%;
}

.tri2 {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 8px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid #ff8b1a;
  margin: 2rem;
  transform: rotate(-21.5deg);
  left: 11%;
  top: 17%;
}
